body {
    font-family: 'exo';
    background-color: #181616;
}

h1 {
    text-align: center;
    background-color: #701c1c;
    padding: 1rem;
    border: solid .5rem #c5940c;
    color: #FFFFFF;
    width: 18rem;
    margin-left: 38%;
}

#container__principal {
    margin-left: 38%;
    background-color: #701c1c;
    width: 20rem;
    height: 28rem;
    color: #FFFFFF;
    border: solid .5rem #c5940c;
}

#botoes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: .5rem;
}

#screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid .3rem #FFFFFF;
    width: 18.4rem;
    height: 9rem;
    margin: .5rem .5rem 1rem .5rem;
    font-size: 2rem;
}

li {
    font-family: 'exo';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    font-size: 1.2rem;
    background-color: #701c1c;
    color: #FFFFFF;
    border: solid .2rem #FFFFFF;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: .2rem .2rem .3rem #000000;
    font-weight: 700;
}

#botao__igual {
    font-family: 'exo';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
    width: 4.9rem;
    height: 1rem;
    font-size: 1.2rem;
    background-color: #701c1c;
    color: #FFFFFF;
    border: solid .2rem #FFFFFF;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: .2rem .2rem .3rem #000000;
    font-weight: 700;
}

li:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;
    color: #701c1c;
    border: solid .2rem #c5940c;
    box-shadow: .1rem .1rem .2rem #000000;
    font-weight: 700;
}

#botao__igual:hover {
    transform: scale(1.05);
    background-color: #FFFFFF;
    color: #701c1c;
    border: solid .2rem #c5940c;
    box-shadow: .1rem .1rem .2rem #000000;
    font-weight: 700;
}